@import "@/demo/styles/variables.scss";

.footer {
  border-top: 1px solid $__color_line3;

  &__container {
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tips {
    font-weight: 500;
    color: #333;
  }
}
