@import "@/demo/styles/variables.scss";

.demo-layout {
  .fa-col {
    line-height: 40px;
    background-color: #f0f0f0;
    text-align: center;
    color: $__color_text4;

    &:nth-child(2n) {
      background-color: #efefef;
    }

    &:nth-child(2n + 1) {
      background-color: #eff6fc;
    }
  }
}
