@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/reset.scss";

#__fa-message-container__ {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

[data-prop='__fa-message-root__'] {
  text-align: center;
}

.fa-message {
  text-align: left;
  margin: 0 auto 10px;
  border: 1px solid #f0f0f0;
  border-radius: $__radius_2;
  padding: 12px 16px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 0.3s ease, transform 0.2s ease;
  display: inline-block;
  line-height: 18px;
  
  &__icon {
    margin-right: 10px;
    vertical-align: text-bottom;
  }
  
  &__content {
    color: $__color_text2;
    font-size: 14px;
  }

  &.--before-active {
    opacity: 0;
    transform: translate(0, -50%);
  }

  @mixin type-color($iconColor, $type) {
    &.--#{$type} {
      & .fa-message__icon {
        color: $iconColor;
      }
    }
  }

  @include type-color($__color_text3, default);
  @include type-color($__color_primary, primary);
  @include type-color($__color_second, second);
  @include type-color($__color_success, success);
  @include type-color($__color_warning, warning);
  @include type-color($__color_danger, danger);
}
